.btn-link {
  font-family: monospace;
  padding: 0;
  margin: 0;
}

.row {
  overflow: hidden;
}

/*
    Make all images fit nicely in section. Select all direct descendants of p
    elements to not select profile thumbnails. 
*/
#content p > img {
    width: 60%;
    margin-left: 20%;
}

/* Medium devices (desktops, 992px and up) */
@media (max-width: 992px) {

  .blockquote-reverse {
    text-align: left;
    border-right: 0;
  }
  .blockquote-reverse em {
    border-bottom: .25rem solid #eceeef
  }
  .blockquote-reverse .blockquote-footer::after {
    content: '';
  }

}

.mlog-title {
  margin-top: 50px;
  margin-bottom: 40px;
}

.mlog-title-bar {
  border-top: 12px solid rgba(0,0,0,1);
  margin-top: 40px;
}

.mlog-avater {
  margin-right: 10px;
}

#content {
  min-height: 600px;
}

#cmd {
  line-height: 40px;
  height: 40px;
  font-family: courier;
  font-size: 1.5rem;
  color: black;
  overflow: hidden;
}
#cmd span {
  float: left;
  padding-left: 3px;
  white-space: pre;
}
#cursor {
  float: left;
  width: 5px;
  height: 40px;
  background: black;
}

#input {
  position: absolute;
  margin: 0;
  opacity: 0;
  border: 0;
  padding: 0;
}
